.input {
  width: 170px;
  padding: 5px 0;
  position: relative;
  left: 1.5em;
  margin-bottom: 0.75em;
  padding-left: 1em;
  background: #e3dedc;
  border-radius: 5px;
  border-color: #e3dedc;
}

.button {
  width: 160px;
  padding: 5px 0;
  position: relative;
  left: 1.5em;
  margin-bottom: 0.75em;
  padding-left: 1em;
  background: #d66786;
  border-color: #d66786;
  border-radius: 5px;
  color: white;
}
